
      


      .container {
          
    width: auto;
    max-width: 680px;
    padding: 10px 15px;
          
      }

.icon-bar {
  width: 100%;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 25%;
  text-align: center;
  padding: 12px 0;
  color: white;
    font-size: 40px;
}
      .icon-bar p {
           color: white;
          font-size: 16px;
}

      
.icon-bar a:hover {

    color: white;
    text-decoration: none;
}
      

     
.navbar-nav a:hover, 
.icon-bar a:hover, 
.btn-search:hover {
    
      border-bottom: 3px solid #add8e5;
}
      
      .nav-item {
          float: left;
     
      }
     
    
    
nav  {
          background-color: #000000;
      }
      
  
   
      
 .logo {
  width: 150px;
  height: 40px;;
}
      
   
      
   .social li {
       float: right;
	padding: 10px;
	

}
      
      footer{
 
          position: fixed;
          bottom: 0;
        width: 100%;
        background-color: #000000;

      }
      
      
      footer ul {
    list-style: none;
         
      }
    
      footer p {
          
          color: white;
      }
      
       .fa {
          color: white;
      }
      
      
      
#search {
display: none;
width: 100%;
padding: 70px 10% 2% 10%;
  text-align: center;
  background-color: #000000;
}
       

.btn-search,
      .btn-search:focus
    
     {
    outline: none;
    background-color: #000000;
    border: none;
    box-shadow:none;
         padding: 6px;
          
}
      

      
      .content h1 {
          padding-top: 15%;
          color: green;
      }
  article {
      margin-bottom: 20px;
        
}