/* Padding kan weggehaald worden na het toevoegen van menu */
body {
  padding-top: 2rem;

font-family: 'Montserrat', sans-serif;
font-size: 12px;

}

h1, h2 {
  font-weight: bold;
  color: #3B3B3C;
}

p {
  color: #3B3B3C;
  font-weight: lighter;
}

b {
  font-weight: bold;
}


/* Dit is de lange header, verwijder of plaats hier een afbeelding in */
.jumbotron {
  background-color: #add8e5
}


.btn-primary {
  color: white !important;
  background-color: #add8e5;
  border-color: #add8e5;

}

.btn-primary:hover {
  background-color: #77abbb;
  border-color: #77abbb;
}

.row {
  margin-bottom: 20px;
}
